
{% load static %}
<!DOCTYPE html>
<html class="desktop-menu-open" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>index_admin</title>
    <!-- meta name="description" content="Description of the page less than 150 characters" --> <!-- meta description-->
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i">
    <link rel="stylesheet" href="https://basecoat.cdn.dimensiondata.com/2.0.0/css/dd.basecoat.min.css">
    <link rel="stylesheet" href="static/app/content/nav.css" >
   <!-- main -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/app/scripts/dd.basecoat.js" ></script>
    <script defer src="static/app/scripts/outdated-browser.js"></script>
    <!-- chart -->


    <script src="static/app/scripts/charts.js"></script>
    <script src="static/app/scripts/functions.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

    <script src="static/app/scripts/echarts.js" type="text/javascript"></script>

  </head>

  <body>
    <div class="sticky-footer-layout desktop-menu-layout mobile-menu-layout">
      <!-- Site header -->
      <header class="site-header">
        <nav class="navbar navbar-fixed-top">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a class="horizontal-logo" href="login.html" title="Return home">
                <div class="logo-image" title="Dimension Data"></div>
                <div class="logo-title"><span>1ws<br>ITservices</span></div>
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown hidden-mobile">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-user"></span> {{ email }} <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                <li><a href="#">My account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'login' %}">Sign out</a></li>
              </ul>
            </li>

          </ul>
        </nav>
      </header>
      <div class="col-xs-2 side-bar top-gutter hidden-mobile">
        <h1>1ws</h1>
        <h2>IT services</h2>
      </div>

      <!-- Page content -->
      <main class="page-wrapper top-gutter container">
        <!-- header datepicker -->
        <header class="top-gutter">
          <ul class="container">

          </ul>
        </header>
        <!-- boxes -->
        <div class="container bottom-gutter btn-area">

 <!-- box Q&A -->
          <div class="col-sm-6 col-xs-12">
            <div class="box">
              <a href="{% url 'faqpage' %}" type="button" class="btn btn-primary">Q&A</a>
            </div>
          </div>
        </div>

      </main>

      <!-- Site footer -->
      <footer class="footer">
        <div class="row">
          <div class="col-xs-12">
            <p class="footer-copyright">&copy; Copyright 2017. Dimension Data.</p>
            <ul class="list-inline footer-links">
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms of use</a></li>
              <li><a href="#">Cookie policy</a></li>
            </ul>
          </div>
        </div>
      </footer>

  </div>
  </body>
</html>


























