{#{% extends "app/layout.html"%}#}

{% block header %}
    <link rel="stylesheet" href="https://basecoat.dimensiondata.com/css/dd.basecoat.css">
    <link rel="stylesheet" href="https://basecoat.dimensiondata.com/examples/css/minimal-layout.css">
    <link rel="stylesheet" href="https://basecoat.dimensiondata.com/examples/css/login-register.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i,900,900i">
    <meta name="application-name" content="Dimension Data">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="icon" type="image/png" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/mstile-144x144.png" />
{% endblock %}

{% block pagecontent %}
    <div class="minimal-layout">

      <header class="header">
        <div class="horizontal-logo horizontal-logo-solid">
          <a href="#" title="Dimension Data" class="logo-image">

          </a>
          <div class="logo-title three-lines">
            <span>login</span>
          </div>
        </div>
      </header>

      <div class="page-wrapper">


        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 col-lg-7 col-center">


              <div class="panel" data-panel="login">
                <div class="panel-heading text-center">
                  <h1 class="no-margin-bottom">Login</h1>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">

                      <!-- form -->
                      <form action ="{% url 'AAA' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">

                          <!-- Email -->
                          <div class="col-xs-12">
                            <div class="form-group has-icon">
                              <label class="control-label" for="email">Email</label>
                              <input name = "email" type="text" placeholder="Enter your email address" class="form-control" id="email" required>
                              <span class="form-control-feedback fa-user"></span>
                            </div>
                          </div>

                          <!-- Password -->
                          <div class="col-xs-12">
                            <div class="form-group has-icon has-password-toggle">
                              <label class="control-label" for="loginPassword">Password</label>
                              <input name="password" type="password" placeholder="Enter your password" class="form-control" id="loginPassword" required>
                              <span class="password-toggle"></span>
                              <span class="form-control-feedback fa-lock"></span>
                            </div>
                          </div>
                          <div class="col-xs-12">

                          </div>
                          <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-block btn-primary bottom-gutter">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}

{% block footer %}
      <footer class="footer">
        <div class="row">
          <div class="col-xs-12">
            <p class="footer-copyright">COPYRIGHT &copy; placeholder.</p>
            <ul class="list-inline footer-links">
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms of use</a></li>
              <li><a href="#">Cookie policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
     </div>
{% endblock %}

{% block scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://basecoat.dimensiondata.com/js/dd.basecoat.js"></script>
    <script src="https://basecoat.dimensiondata.com/examples/js/example-validation.js"></script>
    <script src="https://basecoat.dimensiondata.com/examples/js/login-register.js"></script>
    <script src="https://basecoat.dimensiondata.com/js/outdated-browser.js"></script>

{% endblock %}
